/* encode sans condensed */

@font-face {
	font-family: 'Encode Sans Condensed';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/encode-sans-condensed-v3-latin-300.eot');
	/* IE9 Compat Modes */
	src: local('Encode Sans Condensed Light'), local('EncodeSansCondensed-Light'), url('../fonts/encode-sans-condensed-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/encode-sans-condensed-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/encode-sans-condensed-v3-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../fonts/encode-sans-condensed-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/encode-sans-condensed-v3-latin-300.svg#EncodeSansCondensed') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Encode Sans Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/encode-sans-condensed-v3-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'), url('../fonts/encode-sans-condensed-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/encode-sans-condensed-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/encode-sans-condensed-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/encode-sans-condensed-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/encode-sans-condensed-v3-latin-regular.svg#EncodeSansCondensed') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Encode Sans Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/encode-sans-condensed-v3-latin-700.eot');
	/* IE9 Compat Modes */
	src: local('Encode Sans Condensed Bold'), local('EncodeSansCondensed-Bold'), url('../fonts/encode-sans-condensed-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/encode-sans-condensed-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/encode-sans-condensed-v3-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../fonts/encode-sans-condensed-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/encode-sans-condensed-v3-latin-700.svg#EncodeSansCondensed') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Encode Sans Condensed';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/encode-sans-condensed-v3-latin-900.eot');
	/* IE9 Compat Modes */
	src: local('Encode Sans Condensed Black'), local('EncodeSansCondensed-Black'), url('../fonts/encode-sans-condensed-v3-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/encode-sans-condensed-v3-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/encode-sans-condensed-v3-latin-900.woff') format('woff'), /* Modern Browsers */
	url('../fonts/encode-sans-condensed-v3-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/encode-sans-condensed-v3-latin-900.svg#EncodeSansCondensed') format('svg');
	/* Legacy iOS */
}
/* lato */

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/lato-v14-latin-300.eot');
	/* IE9 Compat Modes */
	src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/lato-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-v14-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../fonts/lato-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/lato-v14-latin-300.svg#Lato') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/lato-v14-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/lato-v14-latin-regular.svg#Lato') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/lato-v14-latin-700.eot');
	/* IE9 Compat Modes */
	src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../fonts/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/lato-v14-latin-700.svg#Lato') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/lato-v14-latin-900.eot');
	/* IE9 Compat Modes */
	src: local('Lato Black'), local('Lato-Black'), url('../fonts/lato-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/lato-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-v14-latin-900.woff') format('woff'), /* Modern Browsers */
	url('../fonts/lato-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/lato-v14-latin-900.svg#Lato') format('svg');
	/* Legacy iOS */
}
/* montserrat-*/

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/montserrat-v12-latin-300.eot');
	/* IE9 Compat Modes */
	src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/montserrat-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/montserrat-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/montserrat-v12-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../fonts/montserrat-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/montserrat-v12-latin-300.svg#Montserrat') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v12-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-v12-latin-700.eot');
	/* IE9 Compat Modes */
	src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../fonts/montserrat-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/montserrat-v12-latin-900.eot');
	/* IE9 Compat Modes */
	src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/montserrat-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/montserrat-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/montserrat-v12-latin-900.woff') format('woff'), /* Modern Browsers */
	url('../fonts/montserrat-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/montserrat-v12-latin-900.svg#Montserrat') format('svg');
	/* Legacy iOS */
}
/* montserrat-subrayada-700 - latin */

@font-face {
	font-family: 'Montserrat Subrayada';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-subrayada-v8-latin-700.eot');
	/* IE9 Compat Modes */
	src: local('MontserratSubrayada-Bold'), url('../fonts/montserrat-subrayada-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/montserrat-subrayada-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/montserrat-subrayada-v8-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../fonts/montserrat-subrayada-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/montserrat-subrayada-v8-latin-700.svg#MontserratSubrayada') format('svg');
	/* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/raleway-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v13-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/raleway-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Raleway Black'), local('Raleway-Black'),
       url('../fonts/raleway-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v13-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* ROBOTO */
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v19-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v19-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v19-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v19-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v19-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v19-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v19-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v19-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v19-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
