* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
}

b {
  font-weight: 600;
}

p {
  font-size: 1.6rem;
}

h1, h2, h3 {
  font-family: Lato;
}

h1 {
  font-size: 3.6rem;
}



.container {
  background-color: purple;
  display: grid;
  grid-gap: 1.5rem 1.5rem;
  /*grid-template-rows: repeat(15, 200px);*/
 grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "hero"
    "slogan"
    "projects"
    "footer";
  margin: 0 auto;
  width: 80%;
}

section {
  background-color: #f99999;
  color: black;
  height: 20rem;
  margin-top: .5rem;
  padding: 10rem 0;
}

.hero {
  background-color: green;
  grid-area: hero;
  padding: 15rem 0;
}

.slogan {
  background-color: orange;
  grid-area: slogan;
}

.projects {
  background-color: pink;
  grid-area: projects;
}

.footer {
  background-color: green;
  grid-area: footer;
}

@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    grid-template-columns: 4fr 6fr;
    margin: 0 auto;
    width: 80%;
  }


@media screen and (min-width: 1025px) {
  .container {
    background-color: navy;
    grid-template-columns: 2fr 4fr 2fr 2fr;
    grid-template-areas:
    " . . . ."
    ". hero hero ."
    ". slogan slogan ."
    ". projects projects ."
    " . . . ."
    "footer footer footer footer";
    margin: 0 auto;
    padding-bottom: 100px;
    width: 80%;
  }

}
