* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.grid, .grid1 {
  display: grid;
  grid-gap: 1.5rem;

  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(4, 100px);
  /*grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);*/
  margin: 0 auto;
  width: 80%;*/
}

.area1, .area2, .area3, .area4, .area5, .area6{
  background-color: rgba(63, 127, 191, .5);
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.wide {
  background-color: rgba(63, 191, 63);
  font-size: 2rem;
  /* grid-column:1/4;
  grid-row:1;
  height: 30vh;*/
  padding: 10rem 0;
}


.wide p {
  margin: 0 auto 2rem auto;
  width: 80%;
}

.grid1 {
  padding: 10rem 0;
}

@media (max-width: 40rem) {
  .grid, .grid1 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 95%;
  }

  .wide p {
    width: 95%;
  }

}
