* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fcfcfc;
  font-family: Lato;
}

/*with JS fixed header function*/
.header {
  padding: 10px 16px;
  background: #FFF;
  color: #f1f1f1;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

/*main body*/
b {
  font-weight: 600;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: -2%;
  line-height: 115%;
}

h2 {
  font-size: 1.6rem;
  line-height: 115%;
}

h6 {
  font-family: Montserrat Subrayada;
}



section {
  color: #312F30;
  margin-top: .5rem;
  padding: .5rem .5rem;
}


.herocontainer {
    background-color: pink;
    background-image: url(/images/smallJbg.svg);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 3fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-gap: .5rem;
    margin: 0 auto;
    width: 95%;
}

.meMobile {
  grid-column-start: 3;
  grid-row-start: 2;

}

.heroText {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
}
/*
.container2 {
  display: grid;
  grid-template-areas:
  "slogan"
  "divider"
  "projects"
  "footer";
  width:85%;
} */

/*
.hero {
  grid-area: hero;
} */
/*

.slogan {
  background-color: orange;
  grid-area: slogan;
}

.divider {
  grid-area: divider;
}

.projects {
  background-color: pink;
  grid-area: projects;
}

.footer {
  background-color: green;
  grid-area: footer;
} */

@media (max-width: 350px) {
  .meMobile {
      width: 100%
  }
}
