* {
  box-sizing: border-box;
}
/***************** BODY PROPERTIES *****************/
html {
  color: #1B181B;
  font-size: 10px;
}

body {
  background-color: #FCFCFC;
  font-family: Roboto;
  line-height: 225%;
}

h1 {
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  font-family: Raleway;
  font-size: 1.6rem;
}

h3 {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 300;
}

h4 {
  color: #1E0075;
  font-family: Raleway;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

h5 {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 300;
}

h6 {
  color: #1E0075;
  font-family: Raleway;
  font-size: 4.8rem;
  font-weight: 900;
}

a {
  color: #FFF;
}

b {
  font-weight: 900;
}
/* COLORS Blue:#ABE0F7;
 /// Pink: #FFA8F6;
 //// Purple:#1E0075;
 purple2 #1D02C2
/* FOOTER */
/****************** HEADER *****************************/
.header {
  background-color: #FFF;
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: .5rem 10px;
}

.header a {
  color: #1D02C2;
  float: left;
  font-family: Montserrat;
  font-size: calc(1.6rem + .1vw);
  font-weight: 700;
  line-height: calc(.5rem + 0.5vw);
  padding: 1.5vw;
  text-align: center;
  text-decoration: none;
}

.header a:hover {
  letter-spacing: .05rem;
  transition: .5s;
}

.header img {
  z-index: 0;
}

.header-right {
  float: right;
  position: relative;
  z-index: 2;
}

button.pink {
  color: #FFF;
  cursor: pointer;
  background: #FCFCFC;
  box-shadow: 0px 1px 5px #dadada;
  border-top: .2rem solid #FF28FF;
  border-bottom: .2rem solid #FF28FF;
  border-left: .2rem solid #FF28FF;
  border-right: .2rem solid #FF28FF;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2rem;
  padding: 10px 15px;
  width: 135px;
}

button.pink a {
  color: #FF28FF;
  text-decoration: none;
}

.TEMPCont {
  align-items: center;
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: minmax(0, auto);
  justify-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 98vw;
}
.TEMPCont h1 {
  color: #1E0075;
  padding-bottom: 1rem;
}
.TEMPCont img {
  max-width: 300px;
}

/* MAIN CSSGRID CONTAINER AND CHILDREN */
.mainCont {
  align-items: center;
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: minmax(0, auto);
  justify-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 98vw;
}

.thinCont {
  align-items: center;
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: minmax(0, auto);
  justify-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 80vw;
}

.mainHed {
  text-align: center;
  padding-bottom: 2.5rem;
  width: 98vw;
}

.mainCont h1 {
  color: #1E0075;
  padding-bottom: 1rem;
}
.chkMrk img {
  float: left;
  margin-right: .25rem;
  width: 20px;
}

.chkMrk, .cldMrk {
  width: 90vw;
}

.cldMrk img {
  float: left;
  margin-right: .25rem;
  position: relative;
  top: .5rem;
  width: 10px;
}
.mainList {
  width: 90vw;
}

.mainList img {
  max-width: 255px;
  width: 90vw;
}
.mainList h1, .roleList h1 {
  color: #1E0075;
}

/*HERO*/
.mck1 {
  text-align: center;
  width: 85vw;
}
.mck1 h2 {
  color: #1E0075;
  font-size: 2.4rem;
  font-weight: 500;
}
.mck1 img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75vw;
}
.cld1, .cld1 img {
  margin-bottom: 2rem;
  position: relative;
  left: -6rem;
  width: 70px;
}

.cld2, .cld2 img {
  position: relative;
  right: -6rem;
  width: 10vw;
}

.cld3, .cld3 img {
  position: relative;
  left: 6rem;
  width: 15vw;
}

.mtnDiv2, .mtnDiv3 {
  align-items: center;
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: minmax(0, auto);
  justify-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 80vw;
}

.mtnDiv2 img, .mtnDiv3 img {
  padding-bottom: 3rem;
  width: 95vw;
}

.mtnDiv2 h1 {
  color: #ACDBFD;
  font-family: Raleway;
  font-size: calc(1.4rem + 2vw);
  font-weight: 900;
  letter-spacing: -1px;
  position: relative;
  top: 4rem;
  left: -2rem;
  text-align: center;
  max-width: 80vw;
}

.mtnDiv3 h1 {
  color: #FFA8F6;
  font-size: calc(1.4rem + 2vw);
  font-weight: 500;
  letter-spacing: -1px;
  position: relative;
  top: 4rem;
  left: 7rem;
  text-align: center;
  max-width: 80vw;
}

.outer-div {
  text-align: center;
}
.outer-button {
  margin-top: 1rem;
  text-align: center;
}
#lineB {
  display: inline-block;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  outline-color: #ABE0F7;
  outline-style: solid;
  outline-width: 1px;
  position: relative;
  width: 75vw;
}

#lineP {
  display: inline-block;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
  outline-color: #FFA8F6;
  outline-style: solid;
  outline-width: 1px;
  position: relative;
  width: 75vw;
}

#lineR {
  display: inline-block;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  outline-color: #BDC3FF;
  outline-style: solid;
  outline-width: 1px;
  position: relative;
  width: 30vw;
}

#dArro {
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid  #FFA8F6;
  position: relative;
}

/**********************SURVEY SECTION***********************/
.sur90 img, .sur65 img{
  border-width: .5rem;
  border-style: solid;
  border-color: #FCFCFC;
  float: left;
  width: 50px;
}
 .sur65 img {
  float: right;
}
.sur90,.sur65 {
  grid-column: 1;
  color: #1E0075;
  width: 90vw;
}
.sur90 h1, .sur65 h1 {
  margin-top: 1rem;
}
.surX {
  grid-column: 1;
  width: 90vw;
}
/**********************COMPET SECTION***********************/
.compLogo {
  width: 90vw;
}

.compLogo h1 {
  color: #1E0075;
}

.compLogo img {
  float: left;
  width: 35px;
  
}

.compMck img {
  width: 85vw;
}

.compX {
  grid-column: 1;
  grid-row: 11;
  width: 90vw;
}
/*-----------------------------------PERSONAS SECTION-----------------------*/
.persMat {
  grid-column: 1;
  text-align: center;
  width: 65vw;
}

.persList {
  grid-column: 1;
  width: 85vw;
}

/*------------------STORIES AND FLOWS SECTION--------------------------------*/
.storCont {
  display: none;
}

.storCont hr, .storCont h1 {
  color: #1D02C2;
}


.storList1, .storList2, .storList3 {
  display: none;
}

/* BRAND IDENTITY -----------------------------------*/
.brndImg {
  grid-column: 1;
  text-align: center;
}
.brndImg img {
  width: 90vw;
}

.brndList {
  grid-column: 1;
  width: 90vw;
}
.brndList img {
  width: 30vw;
}
.brndList h1 {
  color: #1E0075;
  text-align: center;
}

.brndList a {
  color: #FFA8F6;
}

.brndList h5 {
  display: inline;
}

.brndList span {
  font-size: 2rem;
  font-weight: 500;
}

li#cta1 img {
  width: 125px;
}

li#cta2 img {
  width: 325px;
}

/* DAILY UI----------------------------------*/
.brndImgUI {
  grid-column: 1;
  text-align: center;
}
.brndImgUI img {
  width: 90vw;
}




/* ---------MOCKUPS ----------------------------------------------------------*/
li#mckupGD img {
  width: 70vw;
  max-width: 800px;
}

.mckCont {
  align-items: center;
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: minmax(0, auto);
  justify-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 98vw;
}

.mckList {
  grid-column: 1;
  width: 90vw;
  text-align: center;
}

.mckList img {
  max-width: 275px;
  width: 80vw;
}

.mckTxt {
  width: 90vw;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

#primary1 {
  width: 100px;
  height: 100px;
  background: #1E0075;
}

#secondary1 {
  width: 100px;
  height: 100px;
  background: #109AE8;
}

#accent1 {
  width: 100px;
  height: 100px;
  background: #ABE0F7;
}

#cta {
  width: 100px;
  height: 100px;
  background: #00F0C5;
}

#cta22 {
  width: 100px;
  height: 100px;
  background: #FF62FF;
}

#black {
  width: 100px;
  height: 100px;
  background: #37474F;
}

#grey {
  width: 100px;
  height: 100px;
  background: #D6D6D6;
}

#grey2 {
  width: 100px;
  height: 100px;
  background: #EAEAEA;
}

#white {
  width: 100px;
  height: 100px;
  background: #FCFCFC;
}



/* FOOTER */
.footerContainer {
  background-color: #FCFCFC;
  background-image: url("../images/footerBg.png");
  background-size: cover;
  border-top: 1rem solid #312F30;
  display: grid;
  empty-cells: show;
  grid-gap: .5rem;
  grid-template-columns: auto minmax(0, 1fr) auto;
  margin-top: 5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footerContainer a {
  color: #1D02C2;
}

.footerContainer a:hover {
  letter-spacing: .05rem;
  transition: .5s;
}

.footer1text {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  grid-column: 2;
  grid-row: 1;
  padding-top: 2rem;
}

.footer2text {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  grid-row: 2;
  grid-column: 2;
  padding-bottom: 1rem;
}

.gitIcon {
  grid-column: 2;
}

.gitIcon Img {
  height: 2.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer3text {
  grid-row: 4;
  font-size: 1.8rem;
  font-family: Encode Sans Condensed;
  padding-top: 1rem;
  margin-bottom: 2rem;
  grid-column: 2;
  
}
/*****************HEADER MEDIA****************************/
@media screen and (max-width: 415px) {
  .header-right {
    float: right;
  }

  .header-right a {
    padding-right: 1.75rem;
    font-size: calc(10px + 1vw);
  }

  .header-right a:hover {
    letter-spacing: normal;
  }

  .heroText h1 {
    font-size: 2.5rem;
  }
}
/*************DESKTOP MEDIAQ************************/
@media screen and (min-width: 750px) {
/* TEMP IS NOW MAIN CONT*/
.TEMPCont {
  align-items: center;
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: 1fr .75fr 1fr;
  grid-template-rows: minmax(0, auto);
  justify-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 70vw;
}

/*HERO*/
.mck1 {
  text-align: center;
}
.mck1 h2 {
  color: #1E0075;
  font-size: 2.4rem;
  font-weight: 500;
}
.mck1 h6 {
  font-size: calc(2rem + 5vw);
  color: #1E0075;
  font-family: Raleway;
  font-weight: 900;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.thinCont {
    align-items: center;
    display: grid;
    empty-cells: show;
    grid-gap: 1rem;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: minmax(0, auto);
    justify-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    width: 80vw;
  }
.roleList {
  grid-column: 2;
}
.cld1, .cld1 img {
  display: none;
}
.cld3 {
  grid-column: 3;
  grid-row: 2;
  position: relative; left: -4rem;
}
.mtnDiv2, .mtnDiv3 {
  padding-top: 1rem;
  padding-bottom: 3rem;
  max-width: 800px;
  width: 98vw;
}
  .mtnDiv2 img, .mtnDiv3 img {
    padding-bottom: 3rem;
    max-width: 800px;
    width: 95vw;
  }
  .mtnDiv2 h1 {
    color: #ACDBFD;
    font-family: Raleway;
    font-size: calc(1.4rem + 2vw);
    font-weight: 900;
    letter-spacing: -1px;
    position: relative;
    top: 4rem;
    left: -2rem;
    text-align: center;
    max-width: 80vw;
  }
  .mtnDiv3 h1 {
    color: #FFA8F6;
    font-size: calc(1.4rem + 2vw);
    font-weight: 500;
    letter-spacing: -1px;
    position: relative;
    top: 4rem;
    left: 7rem;
    text-align: center;
    max-width: 80vw;
  }

  /* MAIN CSSGRID CONTAINER AND CHILDREN */
  .mainCont {
    align-items: center;
    display: grid;
    empty-cells: show;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    justify-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    width: 98vw;
  }
  .mainHed {
    grid-column: 2;
    text-align: center;
    padding-bottom: 2.5rem;
    width: 55vw;
  }
button.pink {
  grid-column: 2;
}
  .mainCont h1 {
    color: #1E0075;
    padding-bottom: 1rem;
  }
  .mainCont img {
    max-width: 700px;
  }

  .chkMrk img {
    float: left;
    margin-right: .25rem;
    width: 20px;
  }

  .chkMrk, .cldMrk {
    grid-column: 2;
    width: 55vw;
  }

  .cldMrk img {
    float: left;
    margin-right: .25rem;
    position: relative;
    top: .5rem;
    width: 10px;
  }

  .mainList {
    width: 90vw;
  }

  .mainList img {
    max-width: 255px;
    width: 90vw;
  }

  .mainList h1, .roleList h1 {
    color: #1E0075;
  }

  /**SURVEY SECTION***/
  .sur90,.sur65 {
    grid-column: 2;
    width: 75vw;
  }
  .sur90 img, .sur65 img{
    width: 5vw;
  }
  .sur65 h1{
    float:right;
  }

.surX {
    grid-column: 2;
    width: 70vw;
  }
.surX img {
  width: 70vw;
}
  /*****COMPET SECTION******/
  .compLogo {
    grid-column: 2;
    width: 60vw;
  }

  .compLogo img {
    float: left;
    width: 35px;
  }
.compMck {
  grid-column: 2;
}
.compMck img {
  width: 90vw;
}
  .compX {
    grid-column: 2;
    width: 70vw;
  }
  /*-----------------------------------PERSONAS SECTION-----------------------*/
  .persMat {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    width: 55vw;
  }

  .persList {
    grid-column: 1;
    grid-row: 2;
    width: 70vw;
  }

  /*------------------STORIES AND FLOWS SECTION--------------------------------*/
  .storCont {
    align-items: center;
    display: grid;
    empty-cells: show;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    justify-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    width: 75vw;
}

.storList1 {
       display: flex;
       grid-column: 1;
       padding-top: 2rem;
}
   .storList2 {
       display: flex;
       grid-column: 2;
       padding-top: 2rem;
}
   .storList3 {
       display: flex;
       grid-column: 3;
       padding-top: 2rem;
}

  /* BRAND IDENTITY -----*/
.brndImg {
    grid-column: 2;
    text-align: center;
    width: 70vw;
}
.brndImgUI {
    grid-column: 2;
    text-align: center;
    width: 70vw;
}
.brndListUI {
  grid-column: 2;
  width: 90vw;
}

  .brndList {
    grid-column: 2;
    width: 70vw;
  }

  .brndList h1 {
    color: #1E0075;
    text-align: center;
  }

  .brndList h3 {
    text-align: center;
  }
  .brndList a {
    color: #FFA8F6;
  }

  .brndList h5 {
    display: inline;
  }
  .brndList span {
    font-size: 2rem;
    font-weight: 500;
  }
li#cta1, li#cta2 {
    grid-column: 2;
    text-align: center;
    width: 55vw;
  }
  /* ---MOCKUPS ----*/
  li#mckupGD {
    grid-column: 2;
    width: 70vw;
    text-align: center;
  }
.mckList {
  grid-column: 2;
  width: 70vw;
  text-align: left;
}
.mckList img {
  width: 70vw;
}
}
/*************DESKTOP MEDIAQ************************/
@media screen and (min-width: 1200px) {

.TEMPCont {
  align-items: center;
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: 1fr .75fr 1fr;
  grid-template-rows: minmax(0, auto);
  justify-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 70vw;
}

.thinCont {
    align-items: center;
    display: grid;
    empty-cells: show;
    grid-gap: 1rem;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: minmax(0, auto);
    justify-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    width: 80vw;
  }

  .mtnDiv2, .mtnDiv3 {
    align-items: center;
    display: grid;
    empty-cells: show;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    justify-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    width: 50vw;
  }

  
  /**SURVEY SECTION***/
  .sur90,.sur65 {
    grid-column: 2;
    width: 50vw;
  }
  .sur90 img, .sur65 img{
    width: 3vw;
  }
  .sur65 h1{
    float:right;
  }

.surX {
    grid-column: 2;
    width: 50vw;
  }
.surX img {
  width: 50vw;
}
.compLogo {
  width: 35vw;
}
.persMat {
  grid-column: 2;
}

.persList {
  grid-column: 2;
  width: 35vw;
}
.surX, .chkMrk {
  width: 35vw;
}

.brndList {
  width: 60vw;
}}