* {
  box-sizing: border-box;
}

html {
  font-size: calc(7px + .8vw);
  line-height: calc(.5em + 0.5vw);
}

body {
  background-color: #fcfcfc;
  font-family: Lato;
}

b {
  font-weight: 600;
}

i {
  font-style:italic;
}

h1 {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -.05rem;
  line-height: 125%;
}

h2 {
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -.05rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -.05rem;
  line-height: 125%;
}

h4 {
  color: #BDE3E5;
  font-size: 3rem;
  font-style: italic;
  font-weight: 1000;
  line-height: 90%;
}

h5 {
  font-family: Montserrat Subrayada;
  font-size: 4.8rem;
  grid-column: 1;
  grid-row: 5;
  letter-spacing: .8rem;
  text-align: right;
  margin-bottom: .5rem;
  width: 55vw;
}

h6 {
  font-family: Montserrat;
  font-size: 3.6rem;
  font-weight: 900;
  letter-spacing: -.05rem;
  line-height: 62%;
}

section {
  color: #312F30;
  margin-top: .5rem;
  padding: .5rem .5rem;
}

#callToActionB {
  align-items: center;
  background: #0070E0;
  display: grid;
  height: 35px;
  justify-content: center;
  width: 145px;
}

#callToActionB p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 500;
  text-align:center;
  text-decoration-line: underline;
}

/* ALL SECTIONS BAR/HEADER*/

.barContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .05fr 1fr .05fr;
  padding-top: 5rem;
  margin: 0 auto;
  width: 98vw;
}

.barTop  {
  grid-column: 2;
  grid-row: 1;
  overflow-x: hidden;
  position: absolute;
  width: 98vw;
  z-index: 0;
}

.barHead {
  grid-column: 2;
  grid-row: 2;
  margin-top: 2rem;
  width: 100%;
  z-index: 1;
}

.barSub {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 1.5rem;
  width: 90%;
  z-index: 2;
}

/* HERO */

.heroContainer {
  background-color: #EEF6FF;
  display: grid;
  grid-template-columns: .05fr 1fr .05fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  height: 130vw;
  width: 98vw;
}

.caseImg {
  grid-column: 2;
}
.caseImg img{
  width: 70vw;
}

.caseLogo {
  font-family: Montserrat Subrayada;
  font-size: 4.8rem;
  grid-column: 2;
  letter-spacing: .8rem;
  text-align: center;
  width: 55vw;
}

.caseBody {
  font-size: 2rem;
  font-weight: 400;
  grid-column: 2;
  grid-row: 3;
  letter-spacing: -.1rem;
  line-height: 125%;
  text-align: center;
  width: 72vw;
}

.buttonPrototype {
  grid-column: 2;
}

/* ROLES ETC */

.roleContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .75fr 1fr .75fr;
  margin: 0 auto;
  grid-gap: 1rem;
  width: 98vw;
}

.roleList1, .roleList2, .roleList3 {
  grid-column: 2;
  padding-top: 2rem;
  width: 40vw;
}


/* GREEN DIVIDER 1*/

.greenDiv {
  background-color:  #DFF2F2;
  display: grid;
  grid-column: 1fr;
  grid-row: 1fr;
  height: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100vw;
}

.nav2 {
  display:none;
}


/* PROBLEM + SOLUTION */

.probContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: .05fr 1fr .05fr;
  margin: 0 auto;
  width: 98vw;
}

.probList {
  grid-column: 2;
  padding-top: 2rem;
}


/* DISCOVERY ETC HEADER */

.discContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .05fr 1fr .05fr;
  margin: 0 auto;
  width: 98vw;
}

.discHeader{
  font-family: Montserrat;
  font-size: 3.6rem;
  font-weight: 700;
  grid-column: 2;
  letter-spacing: -.2rem;
  line-height: 80%;
  margin-top: 5rem;
}


/* COMPETITIVE ANALYSIS MAIN*/

.compContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .75fr 1fr .1fr;
  margin: 0 auto;
  padding-top: 10rem;
  grid-gap: 1rem;
  width: 98vw;
}

.compList1, .compList2, .compList3, .compList4 {
  grid-column: 2;
  width: 65vw;
}

/* USER SURVEYS MAIN*/

.survContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .95fr 1fr .95fr;
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 5rem;
  width: 98vw;
}

.survList1, .survList2, .survList3, .survList4 {
  grid-column: 2;
  margin-top: 5rem;
  text-indent: .25rem;
}

.surveyButton {
  grid-column: 2;
  margin-top: 5rem;
}


/* USER PERSONAS MAIN */

.persContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .05fr 1fr 1fr .05fr;
  margin: 0 auto;
  padding-top: 10rem;
  width: 98vw;
}

.persImg1, .persImg2 {
  grid-column: 2;
}

.persImg1 img , .persImg2 img {
  max-width: 450px;
  position: relative;
  width: 40vw;
  z-index: 0;
}

.persD1, .persD2 {
  grid-column: 3;
  line-height: 160%;
}

.persList1, .persList2 {
  grid-column: 2 / span 3;
  line-height: 150%;
  padding-top: 3rem;
  width: 90vw;
}


/* USER STORIES */

.storContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .15fr 1fr 1fr 1fr .15fr;
  padding-top: 5rem;
  margin: 0 auto;
  width: 98vw;
}

.storTop  {
  grid-column: 2;
  grid-row: 1;
  overflow-x: hidden;
  position: absolute;
  width: 98vw;
  z-index: 0;
}

.storHead {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin-top: 2rem;
  width: 100%;
  z-index: 1;
}

.storButton {
  grid-column: 3;
  grid-row:10;
  margin-top: 2rem;
  z-index: 1;
}

/* USER FLOWS + MAP MAIN*/

.flowContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .05fr .95fr 1fr .95fr .05fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 3rem;
  width: 98vw;
}

.flowL {
  grid-column: 2 / span 3;
  grid-row: 1;
}

.flowL img{
  max-width: 450px;
  overflow-x: hidden;
  position: relative;
  width: 90vw;
  z-index: 0;
}

.flowButton {
  grid-column: 3;
  grid-row:1;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.mapL {
  grid-column: 2 / span 3;
  grid-row: 3;
}

.mapL img{
  max-width: 450px;
  overflow-x: hidden;
  position: relative;
  width: 90vw;
  z-index: 0;
}

.mapsButton {
  grid-column: 3;
  grid-row:3;
  width: 100%;
  z-index: 1;
}


/* WIREFRAME MAIN */

.wireContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: .05fr 1fr .05fr;
  margin: 0 auto;
  padding-top: 5rem;
  width: 98vw;
}

.wireList1, .wireList2, .wireList3, .wireList4 {
  grid-column: 2;
  padding-top: 2rem;
}

.wireImg1, .wireImg2, .wireImg3, .wireImg4 {
  grid-column: 2;
}

.wireImg1 img, .wireImg2 img, .wireImg3 img, .wireImg4 img{
  grid-column: 2;
  max-width: 400px;
  width: 75vw;
}


/* BRAND 1 MAIN */

.brandContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .05fr 1fr .05fr;
  grid-gap: 1.5rem;
  margin: 0 auto;
  padding-top: 5rem;
  margin-top: 5rem;
  width: 98vw;
}

.ourImg {
  grid-column: 2;
}

.ourList {
  grid-column: 2;
  margin-top: 3rem;
}

.ourImg img {
  grid-column: 2;
  margin-top: 3rem;
}




/* APP + TESTING BAR
.apptImg  {
  grid-column: 2;
  grid-row: 1;
  overflow-x: hidden;
  position: absolute;
  width: 98vw;
  z-index: 0;
}

.apptSub {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 5rem;
  width: 90%;
  z-index: 2;
}*/

.apptBarContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .95fr 1fr .95fr;
  padding-top: 5rem;
  margin: 0 auto;
  width: 98vw;
}

.apptMain {
  grid-column: 2;
  grid-row: 7;
  margin-top: 5rem;
  width: 85vw;
}


/* APP + TESTING */

.mobiContainer1 {
  display: grid;
  empty-cells: show;
  grid-template-columns: .75fr 1fr .75fr;
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 5rem;
  width: 98vw;
}

.mobiContainer1 img {
  margin-top: 2rem;
  width: 60vw;
}

.mobiContainer1 h2 {
  grid-column: 2;
  grid-row: 1;
}

.mobiList1, .mobiList2,  .mobiList3,  .mobiList4 {
  grid-column: 2;
}

.deskContainer1 {
  display: grid;
  empty-cells: show;
  grid-template-columns: .75fr 1fr .75fr;
  grid-template-rows: .05fr .5fr .5fr .5fr .5fr .5fr 1fr;
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 4rem;
  width: 98vw;
}

.deskContainer1 img {
  margin-top: 1rem;
  width: 80vw;
}

.deskContainer1 h2 {
  grid-column: 2;
  grid-row: 1;
  margin-top: 3rem;
}

.deskList1 {
  grid-column: 2;
  grid-row: 2;
}

.deskList2 {
  grid-column: 2;
  grid-row:3;
}

.deskList3 {
  grid-column: 2;
  grid-row:4;
}

.deskList4{
  grid-column: 2;
  grid-row: 5;
}

.deskList5 {
  grid-column: 2;
  grid-row:6;
}

.deskBody2 {
  grid-column: 2;
  grid-row: 7;
  margin-top: 5rem;
  width: 85vw;
}


/* BRAND 2 */

.brand2Container {
  display: grid;
  empty-cells: show;
  grid-template-columns: .05fr 1fr .05fr;
  grid-gap: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
  padding-top: 5rem;
  width: 98vw;
}

.brand2Container img {
  width: 90vw;
  max-width: 170px
}

.cacheList {
  grid-column: 2;
  margin-top: 3rem;
}

.cacheImg {
  grid-column: 2;
}

.cacheImg h5 {
  text-indent: 1rem;
  padding-top: 2rem;
}

/* APPLICATION 2 */

.deskContainer2 {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .75fr 1fr .75fr;
  margin: 0 auto;
  margin-top: 10rem;
  padding-top: 5rem;
  width: 98vw;
}

.deskContainer2 img {
  margin-top: 5rem;
  max-width: 480px;
  width: 90vw;
}

.deskList2 {
  grid-column: 2;
}

.mobiContainer2 {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .75fr 1fr .75fr;
  margin: 0 auto;
  padding-top: 5rem;
  width: 98vw;
}

.mobiContainer2 img {
  margin-top: 5rem;
  max-width: 460px;
  width: 90vw;
}
/*
.mobiList2 {
  grid-column: 2;
}*/


/* CONCLUSION */

.concContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .08fr 1fr 1fr 1fr .08fr;
  grid-gap: 1rem;
  margin: 0 auto;
  margin-top: 7.5rem;
  width: 98vw;
}

.concMain {
  grid-column: 2 / span 4;
  grid-row:1;
  width: 90vw;
}

.concButton {
  grid-column: 3;
  grid-row: 2;
  margin-top: 3rem;
}









/* MEDIA */
@media screen and (min-width: 700px) {

html {
  font-size: calc(4px + .8vw);
  line-height: calc(.5em + 0.5vw);
}

/* ALL SECTIONS BAR/HEADER*/

  .barContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .05fr 1fr .05fr;
  padding-top: 5rem;
  margin: 0 auto;
  width: 98vw;
}

.barTop  {
  grid-column: 2;
  grid-row: 1;
  overflow-x: hidden;
  position: absolute;
  width: 98vw;
  z-index: 0;
}

.barHead {
  grid-column: 2;
  grid-row: 2;
  margin-top: 2rem;
  padding-left: 15rem;
  width: 70vw;
  z-index: 1;
}

.barSub {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 1.5rem;
  width: 90%;
  z-index: 2;
}

/* */

#callToActionB {
  align-items: center;
  background: #0070E0;
  display: grid;
  height: 45px;
  justify-content: center;
  width: 225px;
}

#callToActionB p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 500;
  text-align:center;
  text-decoration-line: underline;
}

.buttonPrototype {
  grid-column: 2;
  grid-row:5;
}

/* */

.heroContainer {
  background-color: #EEF6FF;
  display: grid;
  empty-cells: show;
  grid-template-columns: .05fr 1fr .05fr;
  grid-template-rows: .05fr .15fr .05fr .05fr .05fr .05fr ;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  height: 100%;
  width: 98vw;
}

.caseImg {
  grid-column: 2;
  grid-row:2;
}

.caseImg img{
  max-width: 500px;
}

.caseLogo {
  font-family: Montserrat Subrayada;
  font-size: 4rem;
  grid-column: 2;
  grid-row:3;
  letter-spacing: .8rem;
  text-align: center;
}

.caseBody {
  font-size: 1.75rem;
  font-weight: 300;
  grid-column: 2;
  grid-row: 4;
  letter-spacing: -.1rem;
  line-height: 125%;
  text-align: center;
  width: 500px;
}

/* ROLES ETC */

.roleContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .5fr .75fr 1fr .75fr .15fr;
  margin: 0 auto;
  grid-gap: 1rem;
  width: 98vw;
}

.roleList1 {
  grid-column: 2;
  padding-top: 2rem;
  width: 20vw;
}

.roleList2 {
  grid-column: 3;
  padding-top: 2rem;
  width: 20vw;
}

.roleList3 {
  grid-column: 4;
  padding-top: 2rem;
  width: 20vw;
}

/* */

.greenDiv {
  background-color:  #DFF2F2;
  display: grid;
  grid-column: 1fr;
  grid-row: 1fr;
  height: 7rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100vw;
}

.nav2 {
  align-items: center;
  display:flex;
  justify-content: center;
  width:100%;
}

.nav2 h2{
  font-size: 1.75rem;
  word-spacing: 9rem;
}

/* PROBLEM + SOLUTION */

.probContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: .5fr 1.25fr .5fr;
  margin: 0 auto;
  width: 98vw;
}

.probList {
  grid-column: 2;
  padding-top: 2rem;
}


/* DISCOVERY ETC HEADER */

.discContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .05fr .30fr 1fr .30fr .05fr;
  margin: 0 auto;
  width: 98vw;
}

.discHeader{
  font-family: Montserrat;
  font-size: 3.6rem;
  font-weight: 700;
  grid-column: 3;
  letter-spacing: -.2rem;
  line-height: 80%;
  margin-top: 5rem;
}


/* COMPETITIVE ANALYSIS MAIN*/

.compContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .5fr .1fr .1fr .1fr .5fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  padding-top: 10rem;
  grid-gap: 1rem;
  width: 98vw;
}

.compList1 {
  grid-column: 2;
  width: 25vw;
}

.compList2 {
  grid-column: 3;
  width: 25vw;
}

.compList3 {
  grid-column: 4;
  width: 25vw;
}

.compList4 {
  grid-column: 3;
  grid-row: 2;
  width: 25vw;
}

/* USER SURVEYS MAIN*/

.survContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .05fr .5fr .15fr .5fr .5fr .5fr .15fr .5fr .05fr;
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 5rem;
  width: 98vw;
}

.survList1 {
  grid-column: 3;
  margin-top: 5rem;
  text-indent: .25rem;
  width: 20vw;
}

.survList2 {
  grid-column: 4;
  margin-top: 5rem;
  text-indent: .25rem;
  width: 20vw;
}

.survList3 {
  grid-column: 5;
  margin-top: 5rem;
  text-indent: .25rem;
  width: 20vw;
}

.survList4 {
  grid-column: 6;
  margin-top: 5rem;
  text-indent: .25rem;
  width: 20vw;
}

.surveyButton {
  grid-column: 4;
  grid-row: 2;
  margin-top: 5rem;
  position: relative; left: 13rem;
}


/* USER PERSONAS MAIN */

.persContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .05fr 1fr 1fr 1fr 1fr .05fr;
  margin: 0 auto;
  padding-top: 10rem;
  width: 98vw;
}

.persImg1 {
  grid-column: 2;
  grid-row: 1;
}

.persImg1 img{
  max-width: 150px;
  position: relative;
  width: 40vw;
  z-index: 0;
}

.persD1 {
  grid-column: 3;
  grid-row: 1;
  line-height: 120%;
}

.persList1 {
  grid-column: 2;
  line-height: 150%;
  padding-top: 3rem;
  width: 30vw;
}

.persImg2 {
  grid-column: 4;
  grid-row: 1;
}

.persImg2 img{
  max-width: 150px;
  position: relative;
  width: 40vw;
  z-index: 0;
}

.persD2 {
  grid-column: 5;
  grid-row: 1;
  line-height: 120%;
}

.persList2 {
  grid-column: 4;
  grid-auto-flow: row;
  grid-row-end: 2 / span 7;
  line-height: 150%;
  padding-top: 3rem;
  width: 30vw;
}

/* USER STORIES */


.storContainer {
  display: grid;
  empty-cells: show;
  grid-gap: 1.5rem;
  grid-template-columns: .05fr .5fr .5fr .5fr .5fr .5fr .05fr;
  padding-top: 5rem;
  margin: 0 auto;
  width: 98vw;
}

.storTop  {
  grid-column: 2;
  grid-row: 1;
  overflow-x: hidden;
  position: absolute;
  width: 98vw;
  z-index: 0;
}

.storHead {
  grid-column: 3 / span 4;
  grid-row: 2 / span 3;
  margin-top: 2rem;
  width: 55vw;
  z-index: 1;
}

.storButton {
  grid-column: 4;
  grid-row:10;
  margin-top: 2rem;
  z-index: 1;
}


/* USER FLOWS + MAP MAIN*/

.flowContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .05fr .95fr 1fr .95fr .05fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 3rem;
  width: 98vw;
}

.flowL {
  grid-column: 3;
  grid-row: 1;
}

.flowL img{
  max-width: 450px;
  overflow-x: hidden;
  position: relative;
  width: 90vw;
  z-index: 0;
}

.flowButton {
  grid-column: 3;
  grid-row:1;
  margin-top: 2rem;
  position: relative; left: 7rem;
  z-index: 1;
}

.mapL {
  grid-column: 3;
  grid-row: 3;
}

.mapL img{
  max-width: 450px;
  overflow-x: hidden;
  position: relative;
  width: 90vw;
  z-index: 0;
}

.mapsButton {
  grid-column: 3;
  grid-row:3;
  position: relative;left: 7rem;
  width: 100%;
  z-index: 1;
}


/* WIREFRAME MAIN */

.wireContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: .95fr 1fr 1fr .95fr;
  margin: 0 auto;
  padding-top: 5rem;
  width: 98vw;
}

.wireList1 {
  grid-column: 2;
  width: 30vw;
}

.wireImg1 {
  grid-column: 3;
  padding-top: 2rem;
}

.wireImg1 img {
  grid-column: 2;
  width: 20vw;
}

.wireList2 {
  grid-column: 2;
  padding-top: 5rem;
  width: 30vw;
}

.wireImg2 {
  grid-column: 3;
  padding-top: 5rem;
}

.wireImg2 img {
  grid-column: 2;
  max-width: 400px;
  width: 20vw;
}


.wireList3 {
  grid-column: 2;
  padding-top: 5rem;
  width: 30vw;
}

.wireImg3 {
  grid-column: 3;
  padding-top: 5rem;
}

.wireImg3 img {
  grid-column: 2;
  max-width: 400px;
  width: 20vw;
}

.wireList4 {
  grid-column: 2;
  padding-top: 5rem;
  width: 30vw;
}

.wireImg4 {
  grid-column: 3;
  padding-top: 5rem;
}

.wireImg4 img {
  grid-column: 2;
  max-width: 400px;
  width: 20vw;
}

/* BRAND 1 MAIN */

.brandContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .95fr 1fr 1fr .95fr;
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 5rem;
  margin-top: 5rem;
  width: 98vw;
}

.ourList {
  grid-column: 2;
  margin-top: 3rem;
  width: 30vw;
}

.ourImg {
  grid-column: 3;
}

.ourImg img {
  grid-column: 3;
  margin-top: 3rem;
  width: 15vw;
}

/* APP + TESTING BAR*/

.apptMain {
  grid-column: 3 / span 5;
  margin-top: 5rem;
  width: 55vw;
}

/* APP + TESTING */

.mobiContainer1 {
  display: grid;
  empty-cells: show;
  grid-template-columns: .75fr 1fr 1fr .75fr;
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 5rem;
  width: 98vw;
}

.mobiContainer1 img {
  margin-top: 3rem;
  width: 25vw;
}

.mobiContainer1 h2 {
  grid-column:2;
  grid-row:1;
}

.mobiList1 {
  grid-column: 2;
  grid-row: 2;
}

.mobiList2 {
  grid-column: 3;
  grid-row: 2;
}

.mobiList3 {
  grid-column: 2;
  grid-row: 3;
}

.mobiList4 {
  grid-column: 3;
  grid-row: 3;
}

.deskContainer1 {
  display: grid;
  empty-cells: show;
  grid-template-columns: .95fr 1fr 1fr .95fr;
  grid-template-rows: .1fr .5fr .5fr .5fr .1fr;
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 4rem;
  width: 98vw;
}

.deskContainer1 img {
  margin-top: 3rem;
  width: 45vw;
}

.deskContainer1 h2 {
  grid-column: 2;
  grid-row:1;
  position: relative; left: 25vw;
}

.deskList1 {
  grid-column: 2;
  grid-row:2;
  position: relative; left: 25vw;
}

.deskList2 {
  grid-column: 2;
  grid-row:3;
}

.deskList3 {
  grid-column: 3;
  grid-row:3;
}

.deskList4 {
  grid-column: 2;
  grid-row:4;
}

.deskList5 {
  grid-column: 3;
  grid-row:4;
}

.deskBody2 {
  grid-column: 2 / span 3;
  grid-row: 5;
  margin-top: 3rem;
}

.deskBody2 h3 {
  max-width: 50vw;
  position: relative; left: 18vw;
}


/* BRAND 2 */

.brand2Container {
  display: grid;
  empty-cells: show;
  grid-template-columns: .95fr 1fr 1fr .95fr;
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 5rem;
  margin-top: 5rem;
  width: 98vw;
}

.cacheList {
  grid-column: 2;
  margin-top: 2rem;
  width: 30vw;
}

.cacheImg {
  grid-column: 3;
}

.cacheImg img {
  grid-column: 3;
  margin-top: 3rem;
  width: 98vw;
}

.brand2Container h5 {
  font-size: 4rem;
  grid-column: 3;
  grid-row: 6;
  text-indent: 1rem;
  padding-top: 2rem;
  position: relative; top: -12vw;
  width: 10vw;
}

/* APPLICATION 2 */

.deskContainer2 {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .05fr 1fr 1fr .05fr;
  margin: 0 auto;
  margin-top: 5rem;
  padding-top: 5rem;
  width: 98vw;
}

.deskContainer2 img {
  margin-top: 5rem;
  width: 35vw;
}

.deskListB {
  grid-column: 2;
}

.deskListB2 {
  grid-column: 3;
}

.mobiContainer2 {
  display: grid;
  empty-cells: show;
  grid-gap: 1rem;
  grid-template-columns: .75fr 1fr .75fr;
  margin: 0 auto;
  padding-top: 5rem;
  width: 98vw;
}

.mobiContainer2 img {
  margin-top: 5rem;
  max-width: 460px;
  width: 90vw;
}
/*
.mobiList2 {
  grid-column: 2;
}*/


/* CONCLUSION */

.concContainer {
  display: grid;
  empty-cells: show;
  grid-template-columns: .08fr 1fr 1fr 1fr .08fr;
  grid-gap: 1rem;
  margin: 0 auto;
  margin-top: 7.5rem;
  width: 98vw;
}

.concMain {
  grid-column: 2 / span 4;
  grid-row:1;
  width: 90vw;
}

.concButton {
  grid-column: 3;
  grid-row: 2;
  margin-top: 3rem;
}

/* MEDIA
@media screen and (min-width: 1440px) {

  body:before, body:after {
      content: "";
      position: fixed;
      background: #900;
      left: 0;
      right: 0;
      height: 10px;
  }
  body:before {
      top: 0;
  }
  body:after {
      bottom: 0;
  }
  body {
      border-left: 100px solid #900;
      border-right: 100px solid #900;
  }

}
