/* HEADER ETC */

* {
  box-sizing: border-box;
}

/*JS HEADER*/

.header {
  padding: 10px 16px;
  background: #FFF;
  color: #f1f1f1;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* BODY */


html {
  font-size: 10px;
}

body {
  background-color: #fcfcfc;
  font-family: Lato;
}

b {
  font-weight: 600;
}

i {
  font-style:italic;
}

h1 {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform:uppercase;
}

h2 {
  font-size: 1.6rem;
  line-height: 125%;
}

h3 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 1000;
  color: #B8D8F6;
}

section {
  color: #312F30;
  margin-top: .5rem;
  padding: .5rem .5rem;
}


/* ABOUT BODY*/

.about1container, .about2container, .about3container, .about4container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr .2fr;
  grid-gap: 1rem;
  margin: 0 auto;
  position: relative;
  width: 95vw;
}

.logoBg2 img {
  grid-row: 1;
  grid-column: 1;
  position: absolute; top: 4rem;/* TRY FIXED! */
  max-width: 65vw;
  z-index: 0;
}

.about1header, .about2header, .about3header, .about4header  {
  grid-column: 1 / 4;
  grid-row: 1;
  margin-left: 1rem;
  position: relative; top: 10rem;
  text-align: center;
  width: 85vw; /*mix with margin and align to center */
  z-index: 1;
}

.about1body, .about2body, .about3body, .about4body {
  grid-column: 1 / span 3;
  grid-row: 1;
  padding-top: 15rem;
  margin-left: 2rem;
  position: relative;
  width: 85vw; /*maybe add margin left */
  z-index: 2;
}

.aboutDiv1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* !!!! Grid Revelation #2930 */
  grid-template-rows:  1fr;
  padding-top: 2rem;
  width: 95vw;
}

.quote1 {
  grid-row: 1;
  grid-column: 1 /  3;
  margin-left: 1rem;
  margin-top: 1rem;
  position: absolute;
  width: 95vw;
  z-index: 4;
}

.rectangleBlue {
    grid-row: 1;
    grid-column: 2;
    position: relative; left: 8rem;
    z-index: 3;
}


.rectangleBlue img {
    width: 45vw;
}

































/* FOOTER */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 25rem;    /* Footer height */
}

#footer {
  background-image: url("/images/footerBg.png");
  background-size: contain;
  background-repeat: repeat;
  border-top: 2rem;
  border-color: black;
  bottom: 0;
  display: grid;
  grid-template-rows: repeat(6, 25px);
  height: 15rem;            /* Footer height */
  position: absolute;
  width: 100%;
}

.footer1text {
  font-size: 2rem;
  font-weight: 500;
}

.footer2text {
  font-size: 2.8rem;
  font-weight: 1000;
  letter-spacing: 1px;
  text-align: center;
}

.footer3text {
  font-size: 1.4rem;
  font-family: Encode Sans Condensed;
}

.gitIcon img {

}

.twitterIcon img {

}

.mailIcon img {

}
