/* HEADER ETC */

* {
  box-sizing: border-box;
}

/*JS HEADER*/

.header {
  padding: 10px 16px;
  background: #FFF;
  color: #f1f1f1;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* BODY */


html {
  font-size: 10px;
}

body {
  background-color: #fcfcfc;
  font-family: Lato;
}

b {
  font-weight: 600;
}

i {
  font-style:italic;
}

h1 {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -.05rem;
  line-height: 125%;
}


h2 {
  font-family: Montserrat;
  font-size: 1.8rem;  /*font-size: calc(4.8 + 1.5vw); RESPONSIVE BASED ON VW, NO QUERY*/
  font-weight: 700;
  letter-spacing: -.05rem;
}

h4 {
  color: #BDE3E5;
  font-size: 3rem;
  font-style: italic;
  font-weight: 1000;
  line-height: 90%;
}

h6 {
  font-family: Montserrat;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -.05rem;
  line-height: 62%;

}

section {
  color: #312F30;
  margin-top: .5rem;
  padding: .5rem .5rem;
}

/* HERO */

.heroContainer {
  background-color: #EEF6FF;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr .25fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
  margin: 0 auto;
  width: 95vw;
}

.caseHero {
  grid-column: 2;
  grid-row: 1;
}
.caseHero img{
  width: 70vw; /*mix with margin and align to center */
}

.caseHeader {
  font-family: Montserrat Subrayada;
  font-size: 4.8rem;
  grid-column: 2;
  grid-row: 2;
  letter-spacing: .8rem;
  text-align: center;
  margin-bottom: .5rem;
  width: 55vw;
}

.cacheBody {
  font-size: 2rem;
  font-weight: 400;
  grid-column: 2;
  grid-row: 3;
  letter-spacing: -.1rem;
  line-height: 125%;
  margin-bottom: 2rem;
  text-align: center;
  width: 72vw; /*maybe add margin left */
}


.buttonPrototype {
  grid-column: 2;
  grid-row: 3;
  position: relative; top: 7rem;
}

.buttonPrototype img {
  padding-top: 2rem;  /* MAKE NEW BUTTON*/
  width: 95vw
  max-width: 155px;
}


/* ROLES ETC */


.rdt {
  display: grid;
  grid-template-columns: .75fr 1.5fr .75fr;
  grid-template-areas:
    ". roleU ."
    ". deliU ."
    ". toolU .";  /* In additiong to empty-cells:show, can size everything easy" */
  margin: 0 auto;
  empty-cells: show;
  grid-gap: 1rem;
  width: 95vw;
}

.roleU {
  grid-column: 2;
  grid-row:1;
  padding-top: 2rem;
  width: 100%
}

.deliU {
  grid-column: 2;
  grid-row:2;
  padding-top: 2rem;
  width: 100%;
}

.toolU {
  grid-column: 2;
  grid-row:3;
  padding-top: 2rem;
  width: 100%;
}

/* GREEN DIVIDER 1*/

.div1 {
  background-color:  #BDE3E5;
  display: grid;
  grid-column: 1fr;
  grid-row: 1fr;
  height: 10vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100vw;
}

/* PROBLEM + SOLUTION */

.psi {
  display: grid;
  grid-template-columns: .05fr 1fr .05fr;
   /* In additiong to empty-cells:show, can size everything easy" */
  margin: 0 auto;
  grid-gap: 1rem;
  width: 95vw;
}

.probU {
  grid-column: 2;
  grid-row:1;
  padding-top: 2rem;
  width: 100%
}

.soluU {
  grid-column: 2;
  grid-row:2;
  padding-top: 2rem;
}

.insiU {
  grid-column: 2;
  grid-row:3;
  padding-top: 2rem;
}

/* DISCOVERY */

.discRese {
  display: grid;
  grid-template-columns: 23rem;
  margin-left: 2.5rem;
  width: 95vw;
}

.discHeader{
  grid-column: 1;
  font-family: Montserrat;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: -.2rem;
}



/* COMPETITIVE ANALYSIS */

.compAnalysis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  " . compBar . "
  " . compHeader . "
  " . compBody . ";  /* In additiong to empty-cells:show, can size everything easy" */
  margin: 0 auto;
  empty-cells: show;
  grid-gap: 1rem;
  width: 95vw;
}


.compBar  {
  grid-row: 1;
  grid-column: 2;
  position: absolute;
  z-index: 0;
}

.compBar img {
  height: 225px;
  width: 95vw;
}

.compHeader {
  grid-column: 2;
  grid-row: 2;
  z-index: 1;
}

.compBody {
  grid-column: 2;
  grid-row: 3;
  width: 95vw;
  z-index: 2;

}




























/* FOOTER */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 25rem;    /* Footer height */
}

#footer {
  background-image: url("/images/footerBg.png");
  background-size: contain;
  background-repeat: repeat;
  border-top: 2rem;
  border-color: black;
  bottom: 0;
  display: grid;
  grid-template-rows: repeat(6, 25px);
  height: 15rem;            /* Footer height */
  position: absolute;
  width: 100%;
}

.footer1text {
  font-size: 2rem;
  font-weight: 500;
}

.footer2text {
  font-size: 2.8rem;
  font-weight: 1000;
  letter-spacing: 1px;
  text-align: center;
}

.footer3text {
  font-size: 1.4rem;
  font-family: Encode Sans Condensed;
}

.gitIcon img {

}

.twitterIcon img {

}

.mailIcon img {

}
