


.container {
  background-color: black;
  width: 80%;
  margin: 30px auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50rem;
}

ul {
  height: 100%;
}

h1 {
  margin-bottom: 2rem;
}


li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
/*  max-width: 150px;*/
  /*flex-grow: 1;*/
  text-align: center;
/*  width: 15rem;*/
}

.one, .three, .five, .seven{
  background-color: pink;
        flex-grow: 1;
  }

.two, .four, .six {
    background-color: navy;
    flex-grow: 1;
}

.one{
}

@media (max-width: 50rem) {
  .flex-container {
    flex-direction: column;
    height: 30rem;
  }

  .one, .three, .five, .seven{
    background-color: purple;

    }
}
